Reference (Published version):
@dc.contributor.author@
@dc.publisher@,
(@dc.date.issued@)
@dc.title@
In: @dc.relation.ispartof@
@dc.bibliographicCitation.stpage@
-
@dc.bibliographicCitation.endpage@.
